# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules
dist
dist-ssr
\*.local
*.tsbuildinfo

# Editor directories and files

.vscode/_
!.vscode/extensions.json
.vscode/settings.json
.idea
.DS_Store
_.suo
_.ntvs_
_.njsproj
_.sln
\*.sw?
