@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--sidebar-background: 0 0% 100%;
		--sidebar-foreground: 224.05 36% 38%;
		--sidebar-primary: 209.88 100% 50%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 217.5 44.44% 96.47%;
		--sidebar-accent-foreground: 209.88 100% 50%;
		--sidebar-border: 218.57 35% 92.16%;
		--sidebar-ring: 209.88 100% 50%;
	}
	.dark {
		--sidebar-background: 222.22 47.37% 11.18%;
		--sidebar-foreground: 217.5 35.71% 78.04%;
		--sidebar-primary: 210 100% 61.57%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 216.28 43.43% 19.41%;
		--sidebar-accent-foreground: 210 100% 61.57%;
		--sidebar-border: 216 28% 25%;
		--sidebar-ring: 210 100% 61.57%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
