@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--sidebar-background: 0 0% 100%;
		--sidebar-foreground: 224.05 36% 38%;
		--sidebar-primary: 209.88 100% 50%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 217.5 44.44% 96.47%;
		--sidebar-accent-foreground: 209.88 100% 50%;
		--sidebar-border: 218.57 35% 92.16%;
		--sidebar-ring: 209.88 100% 50%;
	}
	.dark {
		--sidebar-background: 215.63 45.71% 13.73%;
		--sidebar-foreground: 215 38% 79.61%;
		--sidebar-primary: 211.52 100% 57.45%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 214.88 40.19% 20.98%;
		--sidebar-accent-foreground: 211.56 100% 73.53%;
		--sidebar-border: 215.56 39.13% 27.06%;
		--sidebar-ring: 211.52 100% 57.45%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
